/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html,body {
  position: relative;
  height: 100%;
  width : 100%;
}

.div-uno {
    background: black;
    width: 15%;
    float: left;
    height: 60px;
    padding-left: 40px;
    padding-top: 12px;
}

    .div-uno a {
    color: white;
    }

.div-dos {
    background: #ee6a0b;
    width: 85%;
    float: left;
    height: 60px;
}

.div-tres {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(238,106,11,1) 41%, rgba(255,255,255,1) 100%);
    width: 15%;
    float: left;
    height: 100%;
    color: white;
}

    .div-tres a {
    color: white;
    }

    .div-tres li {
    font-size: 1.1rem;
    }

    .div-tres .nav-item:hover {
    background: #ff9f4a;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    }
   .div-tres .nav-item:hover a {
    color: black;
    }
.div-cuatro {
    width: 85%;
    float: left;
    height: 100%;
    overflow : scroll;
}

.menu-seleccionado {
    background: #ff7800;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
}
body {
    font-family: 'Audiowide', cursive;
}